:focus-visible {
	outline: none;
}

main {
	max-width: 1280px;
	margin: auto;
}

// Responsive Square
.square-parent {
	position: relative;
	&:before {
		content: "";
		display: block;
		padding-bottom: 100%;
	}
}
.lg\:square-parent {
	@include lg {
		position: relative;
		&:before {
			content: "";
			display: block;
			padding-bottom: 100%;
		}
	}
}
.lg\:square-none-parent {
	@include lg {
		position: unset;
		&:before {
			content: unset;
			display: unset;
			padding-bottom: unset;
		}
	}
}
.square-child {
	@apply absolute top-0 w-full object-cover object-center;
	height: 100% !important;
}

//Button-Rounded
.button-rounded {
	@apply py-2 px-4 text-red font-bold font-expanded border-red border-solid border-1 rounded-full;

	&:hover {
		@apply text-white bg-red;
	}
}

/* ----------- Swiper ----------- */
//Navigation
.swiper-navigation {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 112px;

	.swiper-button-next {
		right: -30px;
		&::after {
			font-size: 20px;
			@apply text-red;
		}
	}
	.swiper-button-prev {
		left: -30px;
		&::after {
			font-size: 20px;
			@apply text-red;
		}
	}
}

//Thumbnails
.swiper-slide-thumb-active {
	opacity: 1 !important;
}
.thumb-slider__carousel__item:not(.swiper-slide-thumb-active) {
	cursor: pointer;
}

//Category Items
.cat-item {
	&:hover {
		@apply text-red;
	}
}

/* --------- Featured Products --------- */
.featured-products__grid {
	div.product {
		display: none;
		&:nth-of-type(-n + 6) {
			display: block;
		}
		@include lg {
			display: block;
		}
	}
}

/* --------- Our Artists Section --------- */
.featured_artists__grid {
	div.artist {
		@include md {
			display: none;
			&:nth-of-type(-n + 3) {
				display: block;
			}
		}
	}
}

/* --------- Featured Products (artists page) --------- */
#artistas {
	.featured-products__grid {
		div.product {
			display: block;
			@include md {
				display: none;
				&:nth-of-type(-n + 3) {
					display: block;
				}
			}
			@include lg {
				display: block;
			}
		}
	}
}

/* --------- Loop Pagination --------- */
.loop-pagination {
	ul {
		@apply flex;
		li {
			@apply ml-1;
			span,
			a {
				@apply border border-red border-solid w-6 h-6 flex justify-center items-center;
			}
			a {
				@apply hover:bg-red hover:text-white;
			}
		}
	}
}

/* ---------- Single Product ----------- */
.single_product {
	/* -- Price -- */
	&-price {
		del {
			@apply text-sm;
		}
		ins {
			@apply no-underline;
			@apply font-bold;
		}
	}

	/* -- Cart -- */
	&-cart {
		.cart {
			@apply flex;
		}

		.quantity {
			@apply border border-solid border-red text-red flex mr-2;

			input.qty {
				@apply py-2 pl-2 leading-4 align-middle w-10;
				font-family: Arial, Helvetica, sans-serif;
			}
		}
		button.single_add_to_cart_button {
			@apply font-bold font-expanded uppercase px-4 rounded-none;
		}
	}
}

/* -------- Woocommerce buttons --------- */
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt {
	@apply bg-red border-red border border-solid;

	&:hover {
		@apply bg-white border-red border border-solid text-red;
	}
}

/* -------- Notices --------- */
.woocommerce {
	.notices_success {
		font-family: Arial, Helvetica, sans-serif;

		&::before {
			content: "\e015";
			color: #8fae1b;
			font-family: "WooCommerce";
			@apply mr-4;
		}
		a {
			@apply order-3 ml-auto font-sans font-bold font-expanded uppercase text-xs bg-black bg-opacity-10 text-black;
			padding: 0.618em 1em;
			border-radius: 3px;
			&:hover {
				@apply bg-opacity-20;
			}
		}
		a.button,
		button.button,
		input.button,
		#respond input#submit {
			@apply ml-auto;
		}
	}
}

/* ------- Cart Page -------- */

.woocommerce table.shop_table th {
	font-weight: normal;
	font-size: 17px;
}
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th,
.woocommerce table.shop_table tbody th {
	font-weight: normal;
	font-size: 17px;
}
.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img,
#add_payment_method table.cart img {
	width: 75px;
}

.woocommerce .cart_totals table.shop_table {
	border: none;
}

/* ------- Checkout -------- */
.payment_method_pago_moviles_peru label {
	display: inline-flex;
	justify-content: space-between;
	width: 90%;

	img {
		width: 2rem;
	}
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
	@apply bg-gray-light px-2 pb-2 pt-3;
}

.woocommerce form .form-row label,
.woocommerce-page form .form-row label,
.form-row {
	text-align: left !important;
}
#order_comments {
	@apply h-24;
}

.woocommerce table.shop_table td:not(.product-name),
.woocommerce table.shop_table th.product-total {
	@apply text-right;
}

.woocommerce table.shop_table {
	@apply border-0 mb-12;
}

.select2-container--default
	.select2-results__option--highlighted[data-selected],
.select2-container--default
	.select2-results__option--highlighted[aria-selected] {
	@apply bg-red;
}

.woocommerce-cart #payment,
.woocommerce-checkout #payment,
#add_payment_method #payment {
	@apply bg-white;
}

.woocommerce-terms-and-conditions-wrapper {
	@apply mb-8;
	.woocommerce-privacy-policy-text p {
		@apply text-xs;
		a {
			@apply underline;
			&:hover {
				@apply text-red;
			}
		}
	}
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
	@apply w-full bg-white rounded-full border-red border-1 border-solid text-red font-bold font-expanded;
	&:hover {
		@apply bg-red text-white;
	}
}

.woocommerce-NoticeGroup-checkout {
	grid-column: span 2 !important;
}

#billing_id_type_field .woocommerce-input-wrapper {
	position: relative;
	width: 10rem;
	margin-bottom: 0;

	&::after {
		content: "";
		position: absolute;
		top: 30%;
		right: 0.45rem;
		z-index: -10;

		border-color: #888 transparent transparent transparent;
		border-style: solid;
		border-width: 5px 4px 0 4px;
	}
	select {
		border: 1px solid #aaa;
		color: #444;
		background: none;
		text-decoration: none;
		border-radius: 5px;
		-moz-appearance: none;
		appearance: none;
		-webkit-appearance: none;
		padding: 0.2rem 0.5rem 0rem;
		text-align: left;
		max-width: 100%;
		width: 100%;
		margin-top: 0.5rem;
	}
}
#billing_taxes_name_field {
	.optional {
		display: none;
	}
}

/* -------- Thank you page --------- */
.woocommerce ul.order_details li {
	@apply px-4 pt-4 pb-2 bg-gray-light mr-0;
}

/**-----------------
* Contact Form (WPforms)
--------------------*/

#wpforms-form-133 {
	.wpforms-field-email {
		display: inline-block;
		width: 60%;
		margin-right: 1rem;

		input {
			margin-right: 0;
			max-width: 100%;
		}
	}
	.wpforms-field-number {
		display: inline-block;
		width: calc(40% - 1rem);

		input {
			width: 100%;
			max-width: unset;
		}
	}
	.wpforms-field-name .wpforms-field-row {
		max-width: unset;
	}
}

div.wpforms-container-full .wpforms-form input[type="submit"],
div.wpforms-container-full .wpforms-form button[type="submit"],
div.wpforms-container-full .wpforms-form .wpforms-page-button {
	@apply py-1 px-6 text-red font-bold font-expanded border-red bg-white border-solid border-1 rounded-full;

	&:hover {
		@apply text-white bg-red;
	}
}

#post-56 {
	margin-top: 1rem;

	.entry-content .wp-block-columns .wp-block-column:not(:last-child) {
		margin-right: 3rem;
	}
}
